BasedOnStyle: LLVM
BreakBeforeBraces: Attach
IndentWidth: 4
UseTab: Never
TabWidth: 4
ColumnLimit: 120
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
PenaltyBreakBeforeFirstCallParameter: 1
NamespaceIndentation: All